[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-json = "*"
social-tracker-library = {git = "https://github.com/jdnascim/social-tracker-library.git"}

[requires]
python_version = "3.7"
